@font-face {
  font-family: "iconfont"; /* Project id 1029070 */
  src: url('//at.alicdn.com/t/font_1029070_17aetrzglzd.woff2?t=1626493621869') format('woff2'),
       url('//at.alicdn.com/t/font_1029070_17aetrzglzd.woff?t=1626493621869') format('woff'),
       url('//at.alicdn.com/t/font_1029070_17aetrzglzd.ttf?t=1626493621869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hao:before {
  content: "\e601";
}

.icon-daoru1:before {
  content: "\e6f3";
}

.icon-yulan:before {
  content: "\e618";
}

.icon-daochu:before {
  content: "\e74a";
}

.icon-youshang:before {
  content: "\e6e5";
}

.icon-zuoxia:before {
  content: "\e62d";
}

.icon-zuoshang:before {
  content: "\e62e";
}

.icon-youxia:before {
  content: "\e62f";
}

.icon-zujian:before {
  content: "\e60d";
}

.icon-page:before {
  content: "\e600";
}

.icon-wenben:before {
  content: "\e603";
}

.icon-tupian:before {
  content: "\e7fb";
}

.icon-anniu:before {
  content: "\e663";
}

.icon-win:before {
  content: "\e63c";
}

.icon-anzhuologo:before {
  content: "\e679";
}

.icon-ios:before {
  content: "\e676";
}
