@import "./icon-font.scss";

body, div, p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #5e6d82;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }